<div class = "wrapper">
  <div class = "wrapper_text">
    <h2>Gamer friendsとは</h2>
    <ul>
      <li class = "wrapper_list"><i class="fas fa-gamepad"></i> 一緒にゲームするフレンドが探せるサイト！</li>
      <li class = "wrapper_list"><i class="fas fa-gamepad"></i> 検索機能で特定のフレンドが見つかる！</li>
      <li class = "wrapper_list"><i class="fas fa-gamepad"></i> コメントやDM機能で気軽に連絡が取れる！</li>
      <li class = "wrapper_list"><i class="fas fa-gamepad"></i> Gamer friendsを通じてゲーム界隈を盛り上げよう！</li>
    </ul>
  </div>
</div>