@import "bootstrap-sprockets";
@import "bootstrap";

/* リセットCSS */
html, body, div, span, object, iframe,
p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* リセットCSS */

.navbar-brand {
  font-size: 1.9rem;
}


/* header */
// header {
//   height: 10vh;
//   width: 100%;
//   background-color: rgb(66, 193, 231);
//   display: flex;
// }

// .header-left {
//   width: 50%;
// }

// .header-logo {
//   padding-left: 40px;
//   font-style: italic;
//   color: white;
// }

// .header-right {
//   width: 50%;
// }

// .nav-lists {
//   display: flex;
//   justify-content: flex-end;
// }

// .user, .friend {
//   padding: 30px 20px;
//   text-decoration: none;
//   color: white;
// }

// li {
//   list-style: none;
// }
/* header */

/* topページ */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

.wrapper_list {
  font-size: 22px;
  margin-top: 50px;
}

/* topページ */

/* ユーザー関連 */
// .box-inner {
//   width: 400px;
//   margin: auto;
//   padding-top: 30px;
// }

// .field {
//   width: 100%;
//   margin-top: 15px;
//   padding: 8px;
// }

// .submit {
//   width: 45%;
//   margin: 20px 0 15px 0;
//   padding: 8px;
//   background-color: rgb(66, 193, 231);
//   color: white;
//   border: 0;
// }

// .image {
//   margin: 20px 0 15px 0;
// }
/* ユーザー関連 */

/* 投稿画面 */
.form {
  width: 500px;
  margin: auto;
  padding-top: 30px;
}

.form-area {
  width: 100%;
  margin-top: 15px;
  padding: 8px;
}

/* 投稿画面 */

/* 投稿一覧画面 */
.container {
  margin-top: 80px;
}

.posts {
  margin: 22px 0;
  // text-align: center;
}

.user-nickname{
  margin: 10px 0;
  font-size: 19px;
}

.img-responsive{
  border-radius: 50%;
  width:  180px;
  height: 180px;
  margin: 0 auto;
}

.pagination {
  margin-left: 45%;
}
/* 投稿一覧画面 */